COUCHDB_USER=admin
COUCHDB_PASSWORD=change-this-couchdb-password

LIVESYNC_DATABASE=knowledge_vault
LIVESYNC_PASSPHRASE=change-this-livesync-passphrase

GIT_REMOTE_URL=https://github.com/YOUR_ORG/YOUR_VAULT_REPO.git
GIT_TOKEN=github_pat_change_this

CRON_SCHEDULE=0 */6 * * *
